
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>

  <body>
    <br /><br /><br /><br />
    <div class="container">

      <div class="row">
        <div class="col-md-6 offset-md-3">
          {% for field, error in  form.errors.items %}
            <div class="alert alert-danger">{{ field }}: {{ error }}</div>
          {% endfor %}


          <form class="form-signin" method = "POST" action ="?next={% url 'dashboard:home' %}"> {% csrf_token %}
            <h2 class="form-signin-heading">login</h2>
            <label for="user" class="sr-only">Email</label>
            <input type="text" id="user" class="form-control" name = "username" placeholder="email" required autofocus />
            <br />

            <label for="pass" class="sr-only">Password</label>
            <input type="password" id="pass" class="form-control" name = "password" placeholder="Password" required />
            <br />

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
          </form>

        </div> <!-- /col -->

      </div> <!-- /row -->

    </div> <!-- /container -->

  </body>
</html>